@charset "Shift_JIS";

/*** 全体の枠組みと文字の指定 ***/
body {margin-right: auto; margin-left: auto; width: 850px; line-height:140%; font-family: 'Meiryo', "Yu Gothic", YuGothic, "Malgun Gothic", "Apple Gothic", "Hiragino Kaku Gothic Pro", Osaka, sans-serif; overflow-wrap: break-word; word-wrap: break-word;}
body.t {margin-right: 1em; margin-left: 1em; width: auto; line-height:140%; font-family: 'Meiryo', "Yu Gothic", YuGothic, "Malgun Gothic", "Apple Gothic", "Hiragino Kaku Gothic Pro", Osaka, sans-serif; overflow-wrap: break-word; word-wrap: break-word;}


/***idタグ: 英語 ***/
#en {font-family: Arial, Helvetica, sans-serif;}


/*** hタグ: h1、h1デコ、h1英、h2、h3、h4、h5、h6 ***/
h1 {font-size: 130%; line-height: 120%; font-weight: bold; color: #666666;}
h1.deco {font-size: 120%; line-height: 130%; font-weight: bold; color: #000000;}
h1.e {font-family: Times New Roman; font-size: 150%; line-height: 120%; font-weight: bold; color: #666666;}
h2 {font-size: 100%; font-weight: normal; padding-left: 1em; padding-top: 2px; padding-right: 1em; text-indent: -1em; color: #112B4C; background-color: #f7f7f7; border-top: 1px ridge #d8d8d8; border-right: 1px ridge #7f7f7f;}
h3 {font-size: 100%; font-weight: normal; padding-left: 5px; padding-right: 1em; border-left: 3px solid #285294; border-bottom: 1px solid #f0eee9;}
h3.gray {font-size: 100%; font-weight: normal; padding-left: 5px; padding-right: 1em; border-left: 3px solid #808080; border-bottom: 1px solid #f0eee9;}
h3.green {font-size: 100%; font-weight: normal; padding-left: 5px; padding-right: 1em; border-left: 3px solid #00BF00; border-bottom: 1px solid #f0eee9;}
h3.crimson {font-size: 100%; font-weight: normal; padding-left: 5px; padding-right: 1em; border-left: 3px solid #dc143c; border-bottom: 1px solid #f0eee9;}
h3.yellow {font-size: 100%; font-weight: normal; padding-left: 5px; padding-right: 1em; border-left: 3px solid #ffd700; border-bottom: 1px solid #f0eee9;}
h4 {font-size: 100%; font-weight: normal; padding-left: 5px;}
h5 {font-size: 100%; font-weight: normal; padding-left: 5px; border-left: 3px solid #77b8da; border-bottom: 1px solid #f0eee9; margin-left: 6px;}
h6 {font-size: 100%; font-weight: normal; padding-left: 8px;}


/***テキストフォント: 太字、太拡大、太縮小、太拡大150%、太拡大180%、太拡大200%、太イタリック、太下線、拡大、拡大120％、拡大150％、拡大180％、拡大200％、、拡大300％、縮小、縮小80%、下線、反転、外枠、青、茶、緑、臙脂、紺、紫、赤、白、太青、太大青、太大緑、大緑、太赤、太大赤、大赤、小赤、下線赤、背景色灰、デコ灰、デコ炭、縦書き ***/
.b {font-weight:bold;}
.bl {font-weight:bold; font-size: 120%;}
.bs {font-size: small; font-weight:bold;}
.bl150 {font-weight:bold; font-size: 150%;}
.bl180 {font-weight:bold; font-size: 180%;}
.bl200 {font-weight:bold; font-size: 200%;}
.bi {font-weight:bold; font-style: italic;}
.bu {font-weight:bold; text-decoration: underline;}
.l {font-size: 110%;}
.l120 {font-size: 120%;}
.l150 {font-size: 150%;}
.l180 {font-size: 180%;}
.l200 {font-size: 200%;}
.l300 {font-size: 300%;}
.s {font-size: small;}
.s80 {font-size: 80%;}
.u {text-decoration: underline;}
.revs {font-weight: normal; color: white; background-color: #888888; padding: 0px 10px 0px 10px;}
.blue {color: #0000ff;}
.brown {color: brown;}
.grn {color: green;}
.mrn {color: #ad3140;}
.navy {color: navy;}
.ppl {color: #990066;}
.red {color: #dc143c;}
.white {color: white;}
.b-blue {font-weight:bold; color:#0000ff;}
.bl-blue {font-weight:bold;  font-size: large; color:#0000ff;}
.bl-grn {font-weight:bold; font-size: 150%; color: green;}
.l-grn {font-size: 150%; color: green;}
.b-red {font-weight:bold; color:#dc143c;}
.bl-red {font-weight:bold; font-size: large; color: #dc143c;}
.l-red {font-size: large; color: #dc143c;}
.s-red {font-size: small; color: #dc143c;}
.u-red {text-decoration: underline; color: #dc143c;}
.bc-gray {background-color: #D9D9D9}
.deco-g {color: #888888; font-size: 50px;}
.deco-cha {color: #666666; font-size: 50px;}
.vrl {writing-mode: vertical-rl;}


/*** インデント：<p>基本１字下げ、<p>２字下げ、<p>英、<p>１字下げなし、１字下げ、１字半下げ、２字下げ、２字半下げ、３字下げ、３字半下げ、４字下げ、４字半下げ、５字下げ、５字半下げ、英文半角5文字下げ、ぶら下がり１字下げ、ぶら下がり１字半下げ、ぶら下がり２字下げ、ぶら下がり２字半下げ、ぶら下がり３字下げ、ぶら下がり３字半下げ、ぶら下がり４字下げ、ぶら下がり４字半下げ、ぶら下がり５字下げ、ぶら下がり５字半下げ、ぶら下がり６字下げ、ぶら下がり６字半下げ、ぶら下がり７字下げ、ぶら下がり７字半下げ、ぶら下がり８字下げぶら下がり８字半下げ ***/
p {text-indent: 1em;}
p.em2 {text-indent: 2em;}
p.e {text-indent: 40px;}
p.x {text-indent: 0em;}
.indt-1 {text-indent: 1em;}
.indt-1h {text-indent: 1.5em;}
.indt-2 {text-indent: 2em;}
.indt-2h {text-indent: 2.5em;}
.indt-3 {text-indent: 3em;}
.indt-3h {text-indent: 3.5em;}
.indt-4 {text-indent: 4em;}
.indt-4h {text-indent: 4.5em;}
.indt-5 {text-indent: 5em;}
.indt-5h {text-indent: 5.5em;}
.indt-e {text-indent: 48px;}
.hindt-1 {padding-left: 1em; text-indent: -1em;}
.hindt-1h {padding-left: 1.5em; text-indent: -1.5em;}
.hindt-2 {padding-left: 2em; text-indent: -2em;}
.hindt-2h {padding-left: 2.5em; text-indent: -2.5em;}
.hindt-3 {padding-left: 3em; text-indent: -3em;}
.hindt-3h {padding-left: 3.5em; text-indent: -3.5em;}
.hindt-4 {padding-left: 4em; text-indent: -4em;}
.hindt-4h {padding-left: 4.5em; text-indent: -4.5em;}
.hindt-5 {padding-left: 5em; text-indent: -5em;}
.hindt-5h {padding-left: 5.5em; text-indent: -5.5em;}
.hindt-6 {padding-left: 6em; text-indent: -6em;}
.hindt-6h {padding-left: 6.5em; text-indent: -6.5em;}
.hindt-7 {padding-left: 7em; text-indent: -7em;}
.hindt-7h {padding-left: 7.5em; text-indent: -7.5em;}
.hindt-8 {padding-left: 8em; text-indent: -8em;}
.hindt-8h {padding-left: 8.5em; text-indent: -8.5em;}


/*** 配置：1文字下げ（ブロック）、2文字下げ（ブロック）、3文字下げ（ブロック）、4文字下げ（ブロック）、5文字下げ（ブロック）、6文字下げ（ブロック）、7文字下げ（ブロック）、8文字下げ（ブロック）、中央寄せ（文字）、中央上寄せ（文字）、中央寄せ（ブロック）、回り込みすべて解除、回り込み左、回り込み右、大字中央寄せ、大字右寄せ、左マージン３、右寄せ、小字右寄せ、小字中央寄せ、テーブル、文献目次（ぶら下がり１字空ける）、文献目次（ぶら下がり２字空ける）、文献目次（ぶら下がり４字空ける）、半ページ（ボックス） ***/
.bindt-1 {margin-left: 1em}
.bindt-2 {margin-left: 2em}
.bindt-3 {margin-left: 3em}
.bindt-4 {margin-left: 4em}
.bindt-5 {margin-left: 5em}
.bindt-6 {margin-left: 6em}
.bindt-7 {margin-left: 7em}
.bindt-8 {margin-left: 8em}
.c {text-align: center;}
.ct {text-align: center; vertical-align: top;}
.cb {margin-left: auto; margin-right: auto;}
.clear {clear: both;}
.flt-l {float: left;}
.flt-r {float: right;}
.lc {font-size: 120%; text-align: center;}
.lr {font-size: 120%; text-align: right; padding-right: 1em;}
.mgn-l3 {margin-left: 3em;}
.r {text-align: right;}
.sr {font-size: small; text-align: right;}
.sc {font-size: small; text-align: center;}
.tbl {display: table;}
.conts-1 {float: left; margin-left: 1em; padding-left: 1em; text-indent: -1em;}
.conts-2 {float: left; margin-left: 1em; padding-left: 2em; text-indent: -2em;}
.conts-4 {float: left; margin-left: 1em; padding-left: 4em; text-indent: -4em;}
.conts-bx {margin: 0em 1em; width: 415px;}


/*** 区切り線・外枠：hr（ダッシュ）、hr（ダッシュ小）、アウトライン***/
hr.ds {border-top-style: dashed; border-bottom-style: none; border-left-style: none; border-right-style: none; border-width: 2px; border-color: #b2b2b2}
hr.ds-s {border-top-style: dashed; border-bottom-style: none; border-left-style: none; border-right-style: none; border-width: 1px; width: 750px}
.outl {outline-style: solid; outline-width: thin; outline-color: #666666; padding: 5px;}


/*** リスト：記号付き（通常は点）、記号付き（円）、記号付き（四角）、記号なし、文献用、ぶら下がり１字下げ、ぶら下がり１字半下げ、ぶら下がり２字下げ、ぶら下がり２字半下げ、ぶら下がり３字下げ、ぶら下がり３字半下げ、ぶら下がり４字下げ、ぶら下がり４字半下げ、ぶら下がり５字下げ、ぶら下がり５字半下げ、ぶら下がり６字下げ、ぶら下がり６字半下げ、ぶら下がり７字下げ、ぶら下がり７字半下げ、ぶら下がり８字下げ、ぶら下がり８字半下げ、番号付き（通常はアラビア数字）、番号付き（ローマ数字）、番号付き（アルファベット）、番号なし ***/
ul {list-style-type: disc; margin-left: 0em;}
ul.ccl {list-style-type: circle; margin-left: 0em;}
ul.sq {list-style-type: square; margin-left: 0em;}
ul.x {list-style-type: none; margin-left: -1.5em;}
ul.bk {list-style-type: none; margin-left: 1em; padding-left: 2.5em; text-indent: -2.5em;}
ul.hindt-1 {list-style-type: none; margin-left: 1em; padding-left: 1em; text-indent: -1em;}
ul.hindt-1h {list-style-type: none; margin-left: 1em; padding-left: 1.5em; text-indent: -1.5em;}
ul.hindt-2 {list-style-type: none; margin-left: 1em; padding-left: 2em; text-indent: -2em;}
ul.hindt-2h {list-style-type: none; margin-left: 1em; padding-left: 2.5em; text-indent: -2.5em;}
ul.hindt-3 {list-style-type: none; margin-left: 1em; padding-left: 3em; text-indent: -3em;}
ul.hindt-3h {list-style-type: none; margin-left: 1em; padding-left: 3.5em; text-indent: -3.5em;}
ul.hindt-4 {list-style-type: none; margin-left: 1em; padding-left: 4em; text-indent: -4em;}
ul.hindt-4h {list-style-type: none; margin-left: 1em; padding-left: 4.5em; text-indent: -4.5em;}
ul.hindt-5 {list-style-type: none; margin-left: 1em; padding-left: 5em; text-indent: -5em;}
ul.hindt-5h {list-style-type: none; margin-left: 1em; padding-left: 5.5em; text-indent: -5.5em;}
ul.hindt-6 {list-style-type: none; margin-left: 1em; padding-left: 6em; text-indent: -6em;}
ul.hindt-6h {list-style-type: none; margin-left: 1em; padding-left: 6.5em; text-indent: -6.5em;}
ul.hindt-7 {list-style-type: none; margin-left: 1em; padding-left: 7em; text-indent: -7em;}
ul.hindt-7h {list-style-type: none; margin-left: 1em; padding-left: 7.5em; text-indent: -7.5em;}
ul.hindt-8 {list-style-type: none; margin-left: 1em; padding-left: 8em; text-indent: -8em;}
ul.hindt-8h {list-style-type: none; margin-left: 1em; padding-left: 8.5em; text-indent: -8.5em;}
ol {list-style-type: decimal;}
ol.i {list-style-type: lower-roman;}
ol.a {list-style-type: lower-alpha;}
ol.x {list-style-type: none;}


/*** テーブル：テーブル（基本設定）、テーブル（中央配置）、テーブル（中央配置枠線なし）、テーブル（二重線枠線）、テーブル（二重線枠線中央配置）、テーブル（枠線中太）、テーブル（枠線太）、テーブル（枠線なし）、ヘッド（基本設定）、ヘッド（左寄せ）、ヘッド（反転グレー）、ヘッド（トップ枠線なし）、ヘッド（枠線なし）、行（下寄せ）、行（上寄せ）、データ（基本設定）、データ（右寄せ）、データ（上寄せ）、データ（枠線なし）、データ（左寄せ枠線なし）、データ（上寄せ枠線なし）、データ（反転グレー）、キャプション（上部中央）、キャプション（上部左寄せ）、キャプション（下部右寄せ）、キャプション（下部左寄せ） ***/
table {border-style: solid; border-width: thin; border-collapse: collapse;}
table.c {border-style: solid; border-width: thin; border-collapse: collapse; margin-left: auto; margin-right: auto;}
table.cx {border-style: hidden; border-width: thin; border-collapse: collapse; margin-left: auto; margin-right: auto;}
table.dbl {border-style: solid; border-width: thin; border-collapse: separate;}
table.dbl-c {border-style: solid; border-width: thin; border-collapse: separate; margin-left: auto; margin-right: auto;}
table.mdm {border-style: solid; border-width: medium;}
table.thick {border-style: solid; border-width: thick;}
table.x {border-style: hidden; border-collapse: collapse;}
th {border-style: solid; border-width: thin; border-collapse: collapse; text-align: center; font-weight: bold; font-size: 96%; padding: 8px;}
th.l {border-style: solid; border-width: thin; border-collapse: collapse; text-align: left; font-weight: bold; font-size: 96%; padding: 8px;}
th.revs {border-style: solid; border-width: thin; border-collapse: collapse; text-align: center; font-weight: normal; padding: 8px; color: white; background-color: #888888;}
th.tx {vertical-align: top; border-style: hidden; border-collapse: collapse; padding: 8px;}
th.x {border-style: hidden; border-collapse: collapse; padding: 8px;}
tr.b {vertical-align: bottom;}
tr.t {vertical-align: top;}
td {border-style: solid; border-width: thin; border-collapse: collapse; padding: 8px;}
td.r {border-style: solid; border-width: thin; border-collapse: collapse; text-align: right; padding: 8px;}
td.t {border-style: solid; border-width: thin; border-collapse: collapse; vertical-align: top; padding: 8px;}
td.x {border-style: hidden; border-collapse: collapse; padding: 8px;}
td.lx {border-style: hidden; border-collapse: collapse; text-align: left; padding: 8px;}
td.tx {vertical-align: top; border-style: hidden; border-collapse: collapse; padding: 8px;}
td.revs {border-style: solid; border-width: thin; border-collapse: collapse; font-weight: normal; padding: 8px; color: white; background-color: #888888;}
caption {caption-side: top; font-size: 110%; font-weight: normal; padding-bottom: 5px;}
caption.l {caption-side: top; font-size: 110%; font-weight: normal; padding-bottom: 5px; text-align: left;}
caption.btm {caption-side: bottom; text-align: right; font-size: 100%; font-weight: normal; padding-top: 5px; padding-right: 1em;}
caption.btml {caption-side: bottom; text-align: left; font-size: 100%; font-weight: normal; padding-top: 5px; padding-right: 1em;}


/*** イメージ（余白）、イメージ（余白なし） ***/
img {margin: 1em 1em}
img.x {margin: 0em 0em}


/*** リンク ***/
a:link {text-decoration: none;}
a:hover {font-size: 101%}
a:active {background-color: #F3FAFB}


/*** リンク：<h2>タグ専用フォント ***/
h2 a:link {text-decoration: underline; color: #112B4C;}
h2 a:hover {color: #3498db; font-size: 101%}
h2 a:visited {color: #878787}
h2.red {color: #E11345}


/*** リンク：クラスrevs専用フォント ***/
div.revs a:link {text-decoration: underline; color: white;}
div.revs a:hover {color: #89C3EA; font-size: 101%;}
div.revs a:visited {color: #e2e1de;}
span.revs a:link {text-decoration: underline; color: white;}
span.revs a:hover {color: #89C3EA; font-size: 101%;}
span.revs a:visited {color: #e2e1de;}
h4.revs a:link {text-decoration: underline; color: white;}
h4.revs a:hover {color: #89C3EA; font-size: 101%;}
h4.revs a:visited {color: #e2e1de;}
h6.revs a:link {text-decoration: underline; color: white;}
h6.revs a:hover {color: #89C3EA; font-size: 101%;}
h6.revs a:visited {color: #e2e1de;}


/*** リンク：トップページ専用フォント ***/
a.title:link {color: #555555; text-decoration: underline;}
a.title:hover {color: #346DD1;}
a.title:visited {color: #878787}
a.title:active {background-color: white}


/*** 専用： 「催」掲載情報用、雑誌『生存学』タイトル（英文頁）、グーグルサーチ***/
.event {padding-left: 1em; text-indent: -1em; margin-left: 3em;}
.vivendi {font-family: Times New Roman; font-style: italic; font-size: 250%; font-weight: bold;}
table.ggl {border-style: hidden; border-width: 100px; border-collapse: collapse; margin-bottom: 10px}


/*** 文字の非表示（スパムメール対策） ***/
.dmy {display:none;}

/*** ツイッター・フェイスブックボタンの高さ調整の設定 ***/
.flt-l {
display: flex;
}


/*** 参照用の吹き出し ***/
.balloon{
position:relative;
width:80%;
background:#FFFFFF;
padding:20px;
text-align:left;
border:1px solid dimgray;
color:#050505;
border-radius:11px;
-webkit-border-radius:11px;
-moz-border-radius:11px;
}
.balloon:after,.balloon:before{
border: solid transparent;
content:'';
height:0;
width:0;
pointer-events:none;
position:absolute;
bottom:100%;
left:4%;
}
.balloon:after{
border-color: rgba(255, 255, 255, 0);
border-top-width:10px;
border-bottom-width:10px;
border-left-width:8px;
border-right-width:8px;
margin-left: -8px;
border-bottom-color:#FFFFFF;
}
.balloon:before{
border-color: rgba(20, 20, 20, 0);
border-top-width:11px;
border-bottom-width:11px;
border-left-width:9px;
border-right-width:9px;
margin-left: -9px;
margin-bottom: 1px;
border-bottom-color:dimgray;
}


/*** ページ説明用枠線 ***/
.box11{
padding: 2em 1em;
margin: 2em 0;
color: black;
background: white;
box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
}


/*** テキスト入りhr ***/
.hr-text {
line-height: 1em;
position: relative;
outline: 0;
border: 0;
color: #333333;
text-align: center;
height: 1.5em;
font-size: 95%;
}
.hr-text:before {
content: '';
background: -webkit-linear-gradient(left, transparent, #333333, transparent);
background: linear-gradient(to right, transparent, #333333, transparent);
position: absolute;
left: 0;
top: 50%;
width: 100%;
height: 1px;
}
.hr-text:after {
content: attr(data-content);
position: relative;
display: inline-block;
color: black;
padding: 0 .5em;
line-height: 1.5em;
color: #333333;
background-color: white;
}

/*** Twitterボタンのズレ修正（2021/03/18） ***/
.f-container {
display: flex;
justify-content: flex-start;
}
.f-item{
display: flex;
align-items: center;    
}

/** 以下は20220208修正=担当者（山口）　**/

/** TOPページここから **/
.ttl {
    color: #404040;
    display: inline;
}

.ttl .arsvi {
    font-size: 80px;
    }

    .ttl .dot {
    font-size: 40px;
    }

    .ttl .com {
    font-size: 70px;
    }

    .flex{
        display: flex;
    }
    .flex div{
    
    /** 以下：20220225修正=担当者（中井）　**/
        
    }
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
    }
    
    /** 以上： 20220225修正=担当者（中井）　**/

    @media screen and (max-width:599px) {
    .qr {
        display: none;
    }
        
    }
/** TOPページここまで **/

/** SPのデザインここから **/
@media screen and (max-width: 799px) {

    /** body **/
    body{
    width: 90%;
     /** 以下： 20220226修正=担当者（中井）　**/
    overflow-wrap: break-word;
     /** 以上： 20220226修正=担当者（中井）　**/
    }

    /** ここでlastuploadの部分を修正している **/
    .s a{
        font-size: 90%;
    }
    
    .sr {
        margin: 10px;
    }
    
    .sr::before {
        content: "\A\A" ;
        white-space: pre ;
    }

    /** 全般的なフォントの指定 **/

    h1 {
    font-size: 180%;
    }
    
    h2 {
        font-size: 110%;
        font-weight:600;

    }
    
    h3 {
        font-size: 105%;

    }

    h4 {
        font-size: 110%;
        font-weight:bold;

    }

    h5 {
        font-weight:bold;
        font-size: 110%;
    }
    
    p {
        font-size: 95%;
    }
    
    a {
    font-size: 100%;
    }

    /**  TOPのスタイル  **/

    .c span{
    font-size: 50%;
    }

    .ttl {
        margin: 5px;
        line-height:50px;
    }

    .ttl .arsvi{
    font-size: 28px;
    }

    .ttl .dot {
    font-size: 20px;
    }

    .ttl .com {
    font-size: 20px;
    }

    .big {
        font-size: 120%;
    }
    


    }
    
/** SPのデザインここまで **/
